#title {
    margin: auto;
    width: 200px;
    text-align: center;
    font-size: 70px;
    color: white;
    margin-right: 48%;
}

.container {
    text-align: center;
}

#canvas {
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: 0px 0px 8px 7px #575757;
    margin-top: 10px;
}