@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

body {
    margin: 0;
    background-image: url('../images/background.jpeg');
    background-size: cover;
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
}

#contentContainer {
    margin: auto;
    text-align: center;
}

#headerContainer {
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 8px 7px #888888;
    background-color: rgba(51, 47, 47, 0.8);
    margin-top: 5%;
    color: #cecece;
    font-family: 'Pathway Gothic One', sans-serif;
}

#panningContainer {
    width: 80%;
    height: 100%;
    margin: auto;
}

#panCanvas {
    position: absolute;
    width: 100%;
    z-index: 0;
}

.mainMenuBtn {
    font-size: 25px;
    padding: 20px;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 0px 8px 7px #888888;
    background-color: rgba(51, 47, 47, 0.8);
    color: #cecece;
    outline: none;
}

.mainMenuBtn:hover,
#headerContainer:hover {
    cursor: pointer;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

h5 {
    font-size: 25px;
    margin: 0;
}

.starInfo {
    padding: 10px;
    margin: auto;
    margin-top: 5px;
    width: 480px;
    text-align: center;
    box-shadow: 0px 0px 8px 7px #888888;
    background-color: rgba(51, 47, 47, 0.8);
    color: #cecece;
    outline: none;
}

#starImages {
    margin: auto;
    text-align: center;
}

.starIMG {
    box-shadow: 0px 0px 8px 7px #888888;
}